/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a:visited {
  color: inherit;
}

ul,
li {
  list-style: none;
}

/* Banner Component */
.banner-container {
  width: 100%;
  margin: 0 auto;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}

.banner-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 1.5rem;
}

.banner-title {
  z-index: 10;
  font-size: 1.25rem;
  color: white;
  padding: 1rem;
}

.banner-title h1 {
  font-size: 24px;
  color: white;
}

@media (min-width: 640px) {
  .banner-container {
    height: 14rem;
  }
  .banner-title {
    padding: 0;
  }

  .banner-title h1 {
    font-size: 48px;
    color: white;
  }
}

/* Card Component */

.card-container {
  width: 100%;
  position: relative;
}

.card-background {
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
  padding-top: 100%;
}

.card-title {
  color: white;
  padding: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.125rem;
}

/* Dropdown Component */

.dropdown-container {
  background-color: #ff6060;
  border-radius: 0.5rem;
  padding: 0.625rem;
  cursor: pointer;
  margin: 0 auto;
}

.dropdown-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-title h2 {
  font-size: 13px;
}

.dropdown-icon {
  color: white;
  width: 2rem;
}

.dropdown-content {
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  padding: 0.625rem;
  margin: 0 auto;
}

.dropdown-text {
  color: #ff6060;
  font-size: 19px;
}

@media (min-width: 640px) {
  .dropdown-title h2 {
    font-size: 18px;
  }
}

/* Footer Component */

.footer-container {
  width: 100%;
  background-color: black;
  padding: 2rem;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer-logo {
  width: 8rem;
}

.footer-text {
  color: white;
  font-size: 19px;
}

@media (min-width: 640px) {
  .footer-text {
    font-size: 1.5rem;
  }
}

/* Gallery Component */

.gallery-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 255px;
}

.gallery-chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  color: white;
  cursor: pointer;
}

.gallery-chevron--left {
  left: 0;
}

.gallery-chevron--right {
  right: 0;
}

.gallery-image {
  border-radius: 1.5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 1rem;
  font-size: 1rem;
  display: none;
}

@media (min-width: 640px) {
  .gallery-container {
    height: 456px;
  }
  .gallery-chevron {
    width: 4rem;
  }
  .gallery-pagination {
    display: block;
  }
}

/* Header Component */

.header-container {
  margin: 0 auto;
  padding: 1.25rem 1.25rem;
  max-width: 1440px;
}

.header-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 9rem;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #ff6060;
  font-size: 19px;
}

.header-link {
  text-decoration: none;
  cursor: pointer;
}

.header-link:hover,
.header-link--active {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .header-container {
    padding: 3rem;
  }
  .header-logo {
    width: 13rem;
  }
  .header-links {
    gap: 3.5rem;
    font-size: 1.5rem;
  }
}

/* Stars Component */
.stars-container {
  display: flex;
  margin-top: 0;
}

.star-icon {
  width: 1rem;
  height: 1rem;
  color: #e3e3e3;
}

.star-icon-active {
  color: #ff6060;
}

@media (min-width: 640px) {
  .stars-container {
    margin-top: 1.5rem;
  }
  .star-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
}

/* Tag Component */
.tag-container {
  background-color: #ff6060;
  color: white;
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  font-size: 10px;
  display: inline;
}

@media (min-width: 640px) {
  .tag-container {
    padding: 0.125rem 1.25rem;
    font-size: 19px;
  }
}

/* Accomodation Page */
.accomodation-container {
  margin: 0 auto;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 1440px;
}

.accomodation-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.accomodation-info-title-container,
.accomodation-info-host-container {
  width: 100%;
}

.accomodation-info-host-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accomodation-info-title {
  font-size: 1.125rem;
  color: #ff6060;
  margin-top: 1rem;
}

.accomodation-info-location {
  color: #ff6060;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.accomodation-info-tags {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.5rem;
}

.accomodation-info-host {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 0.5rem;
}

.accomodation-info-host-name {
  color: #ff6060;
  font-size: 19px;
}

.accomodation-info-host-picture {
  width: 2rem;
  border-radius: 9999px;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.dropdown-section-item {
  width: 100%;
}

@media (min-width: 640px) {
  .accomodation-info {
    flex-direction: row;
  }
  .accomodation-info-title-container,
  .accomodation-info-host-container {
    width: auto;
  }
  .accomodation-info-title {
    font-size: 2.25rem;
    margin-top: 2rem;
  }
  .accomodation-info-location {
    font-size: 1.125rem;
    margin-top: 0;
  }
  .accomodation-info-host-name {
    font-size: 1.125rem;
  }
  .accomodation-info-host-picture {
    width: 4rem;
  }

  .accomodation-info-host-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .dropdown-section {
    flex-direction: row;
    gap: 5rem;
  }
  .dropdown-section-item {
    width: 50%;
  }
}

/* About Page */
.about-container {
  padding: 1.25rem;
  margin: 0 auto;
  max-width: 1440px;
}

.dropdown-spacing {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* E404 Page */
.e404-container {
  margin: 0 auto;
  text-align: center;
  gap: 7rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: #ff6060;
  max-width: 1440px;
}

.e404-title {
  font-weight: bold;
  font-size: 8rem;
}

.e404-text {
  font-size: 1.125rem;
}

.e404-link {
  font-size: 19px;
  text-decoration: none;
  display: block;
}

.e404-link:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .e404-container {
    gap: 8rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .e404-title {
    font-size: 18rem;
  }
  .e404-text {
    font-size: 2.25rem;
  }
  .e404-link {
    font-size: 1.125rem;
  }
}

/* Home Page */
.home-container {
  padding: 1.25rem;
  margin: 0 auto;
  max-width: 1440px;
}

.cards-container {
  margin-top: 2.75rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .cards-container {
    background-color: #f6f6f6;
    padding: 3rem;
    border-radius: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
